grammars/haskell.cson linguist-generated
grammars/module[[:space:]]signature.cson linguist-generated
grammars/haskell[[:space:]]autocompletion hint.cson linguist-generated
grammars/haskell[[:space:]]type[[:space:]]hint.cson linguist-generated
grammars/haskell[[:space:]]message[[:space:]]hint.cson linguist-generated
grammars/literate[[:space:]]haskell.cson linguist-generated
grammars/liquid[[:space:]]haskell.cson linguist-generated
