'.source.haskell':
  'editor':
    'commentStart': '-- '
    'increaseIndentPattern': '((^.*(=|\\bdo|\\bwhere|\\bthen|\\belse|\\bof)\\s*$)|(^.*\\bif(?!.*\\bthen\\b.*\\belse\\b.*).*$))'
    'decreaseIndentPattern': '^\\s*$'
'.source.cabal':
  'editor':
    'commentStart':'-- '
